h1{color:#ffffff ;
background: #ff61ae;
font-size: 500%;
font font-family: arial, "time new roman";
text-align: center;
height: 89px;
margin: 0%;
}
p{color:black ;
	font-size: 250%;
	margin: 5px;
	background: ##ffb4d9;
 text-align: center;}
body{background: #cedae7;
float: right;}
div{text-align: center;
	float: center;

 }
button{font-size: 22px;
background: gray;
margin: 10px;}



footer{
	margin: 25px;
	display: block;
	margin-bottom: 3px;
	bet
	;

height: 100px;
clear: both;}
div{margin-bottom: 10px;}